section#top-logo
  #header
    img.top-logo(src='http://www.hjmt.com/blog/wp-content/uploads/2012/08/Logo_TV_2015.png', alt='iRelief logo')
    .float-right.login-label(*ngIf='!isSignedIn')
      span
        a.waves-effect.waves-light.small-label(href='#modal1', (click)="setSelectedTab('loginPane')") Login
      span
        a.waves-effect.waves-light.small-label(href='#modal1', (click)="setSelectedTab('registerPane')") Register
    .float-right.login-label(*ngIf='isSignedIn')
      span Hi {{ username }}

#modal1.modal
  .modal-content
    login([selectedTab]='preSelectedPane', (loginSuccess)= 'closeModal($event)')
main-navbar


